<!DOCTYPE html>
<html ng-app="mainApp">
	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" href="../css/home.css" type="text/css"/>
		<link rel="stylesheet" href="../css/swiper.css" type="text/css"/>
		<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body >
		<div class="wrap">
			<header>
				<div class="left">
					<img src="../images/jilu_1_06.jpg" alt="" />
					<p>关闭</p>
				</div>
				<div class="center">
					<p>派速魔方 - 快递员</p>
				</div>
				<div class="right"></div>
			</header>
			<section ng-Controller="myController" id='wrapper' class="wrapper">
			<div class="table">
				<div class="swiper-container" >
					<div class="swiper-wrapper">
						<div class="swiper-slide banner"><img ng-src="{{imgurl}}"/></div>
						<div class="swiper-slide banner"><img ng-src="{{imgurl}}"/></div>
					</div>
				</div>
				<div class="nav">
					<dl>
						<dt><img src="../images/home_1_08.jpg" alt="" /></dt>
						<dd><a href="">扫码存件</a></dd>
					</dl>
					<dl style="border-right: none;">
						<dt><img src="../images/home_1_05.jpg" alt="" /></dt>
						<dd><a href="">回收快件</a></dd>
					</dl>
				</div>
				<div class="nav">
					<dl>
						<dt><img src="../images/home_1_13.jpg" alt="" /></dt>
						<dd><a href="">充值</a></dd>
					</dl>
					<dl style="border-right: none;">
						<dt><img src="../images/home_1_15.jpg" alt="" /></dt>
						<dd><a href="">优惠活动</a></dd>
					</dl>
				</div>	
			</div>
			<div class="table">22</div>
			</section>
			
			<footer>
				<dl>
					<dt><img src="../images/home_1_20.jpg" alt="" /></dt>
					<dd><a href="">首页</a></dd>
				</dl>
				<dl>
					<dt ><img src="../images/home_1_26.jpg" alt="" /></dt>
					<dd><a href="">快递记录</a></dd>
				</dl>
				<dl>
					<dt><img src="../images/home_1_23.jpg" alt="" /></dt>
					<dd><a href="">我的</a></dd>
				</dl>
			</footer>
		</div>
	</body>
</html>
<script src="../js/swiper.js"></script>
<script src="../js/angular.js"></script>
<script src="../js/zepto.min.js"></script>
<script src="../js/iscroll.js"></script>
<script src="../js/angular-sanitize.min.js"></script>
<script>
    //创建一个模块
	angular.module('mainApp',[])
	//创建一个控制器                                            //作用域$scope
	.controller('myController',['$scope',function($scope){
		$scope.imgurl = '../images/home_1_02.jpg';
		$scope.imgurl = '../images/home_1_02.jpg';
		
	}]);
	//轮播
	var swiper = new Swiper('.swiper-container', {
				        pagination: '.swiper-pagination',
				        slidesPerView:1,
				        paginationClickable: true,
				        spaceBetween: 0,
				        freeMode: true,
				        nextButton: '.swiper-button-next',
    					prevButton: '.swiper-button-prev',
    					loop:true,
    					autoplay : 1000//轮播时间
				   });	
//下拉刷新
	var myScroll= new IScroll('#wrapper',{
			scrollbars: true,
			disableMouse: true,
    		disablePointer: true,
    		scrollbars: 'custom'
		})
</script>