@import url("m_resert.css");
html,
body,
.wrap {
  widows: 100%;
  height: 100%;
}
html {
  font-size: 62.5%;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap header {
  width: 100%;
  height: 4.5rem;
  background: #000000;
}
.wrap header dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  color: #fff;
  line-height: 4.5rem;
  margin-left: 0.5rem;
}
.wrap header dl dt {
  margin-top: 0.2rem;
}
.wrap header dl dd {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}
.wrap section {
  -webkit-box-flex: 1;
}
.wrap section .logo {
  width: 100%;
  height: 15rem;
  background: #46c68b;
  text-align: center;
  line-height: 16rem;
}
.wrap section .logo img {
  width: 20.5rem;
  height: auto;
  background: none;
}
.wrap section .inp {
  width: 90%;
  height: 4rem;
  background: none;
  margin-top: 2rem;
  margin-left: 1.2rem;
  position: relative;
}
.wrap section .inp input {
  width: 80%;
  height: 4rem;
  background: none;
  border: 1px solid #999999;
  padding-left: 5rem;
  font-size: 1.4rem;
}
.wrap section .inp img {
  width: 1.7rem;
  height: auto;
  background: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-right: 1px solid #cbcbcb;
  padding-right: 1rem;
}
.wrap section .inp_list {
  margin-top: 1rem;
}
.wrap section .inp_list input {
  border: 1px solid #d2d2d2;
}
.wrap section .inp_list img {
  width: 2rem;
  height: auto;
  background: none;
  padding-right: 0.7rem;
}
.wrap section .inp_list p {
  position: absolute;
  top: 1rem;
  right: 0rem;
  width: 8rem;
  height: 2.5rem;
  background: #46c68b;
  border-radius: 10rem;
  text-align: center;
  line-height: 2.5rem;
  color: #fff;
  font-size: 1.4rem;
}
.wrap section .sub {
  width: 90%;
  height: 5rem;
  background: none;
  margin-top: 3rem;
}
.wrap section .sub input {
  width: 100%;
  height: 4.5rem;
  background: #46c68b;
  border: none;
  border-radius: 0.5rem;
  margin-left: 1.3rem;
  font-size: 1.6rem;
  color: #fff;
}
.wrap section .zc {
  width: 90%;
  height: auto;
  background: none;
  margin-left: 1.5rem;
}
.wrap section .zc dl {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-flex: 1;
  font-size: 1.4rem;
  color: #666;
}
.wrap section .zc dl dt {
  width: 75%;
  height: auto;
  background: none;
}
.wrap section .zc dl dd {
  width: 25%;
  height: auto;
  background: none;
}
