<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/style.css" type="text/css"/>
	</head>
	<body ui-view ng-controller="myCtrl">
		<div class="wrap">
			<header>
					<span>&lt;</span>
					<p>关闭</p>
			</header>
			<section>
				<div class="nav">
					<img class="nav_sp" src="images/B2_dl1_06.jpg" alt="" />
					<img class="nav_fk" src="images/B2_dl1_03.jpg" alt="" />
				</div>
					<div class="get">
						
					    <input type="text" placeholder="请输入您的手机号"/>
					    <img  src="images/B2_dl1_11.jpg" alt=""/>
						<span>|</span>
					</div>
					<div class="next">
						<input type="text" placeholder="请输入密码"/>
					    <img  src="images/B2_dl1_14.jpg" alt=""/>
						<span>|</span>					
					</div>
				<div class="logo">
					<a href="">登录</a>
				</div>
				<div class="main">
					<div class="left"><a href="">注册用户</a></div>
					<div class="right"><a href="">忘记密码？</a></div>
				</div>
			</section>
			<footer></footer>
		</div>
	</body>
</html>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/angular-ui-router.js"></script>
<script type="text/javascript">
	angular.module('myApp',[])
	.controller('myCtrl',['$scope',function($scope){
		
	}])
</script>