<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/login.css"/>
	</head>
	<body>
		<div class="warp">
			<header><span><</span>关闭</header>
			<section>
				<div class="banner">
					<img src="images/B2登录_02.jpg" alt="" />
				</div>
				<div class="iphone">
					<div class="phone_img"><img src="images/B1注册_03.jpg"></div>
					<div class="phoneNum"><input type="number" placeholder="请输入您的手机号"></div>
				</div>
				<div class="pwd">
					
						<div class="pwd_img"><img src="images/B1注册_06.jpg"></div>
						<div class="pwdNum"><input type="password" placeholder="请输入密码"></div>
				</div>
				<button>登录</button>
				<div class="prompt">
					<div class="pro_left">
						<a ui-sref="index">注册用户</a>
					</div>
					<div class="pro_right">
						<a href="#">忘记密码？</a>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>
