<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../css/prompt.css" />
	</head>
	<body>
		<div class="warp">
			<header>
				<div class="top_left">
					<span><</span>关闭
				</div>
				<div class="top_right">输入认证信息</div>
			</header>
			<section>
				<div class="main">
						
				</div>
			</section>
		</div>
	</body>
</html>
