@import url(m_reset.css);
html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap header {
  width: 100%;
  height: 4.2rem;
  background: #333333;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrap header .left {
  width: 6rem;
  height: 100%;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrap header .left img {
  width: 1rem;
  height: 1.2rem;
  background: none;
  margin: 1.6rem 0.5rem 0 1.5rem;
}
.wrap header .left p {
  color: #FFF;
  line-height: 4.2rem;
  letter-spacing: 0.1rem;
}
.wrap header .center {
  -webkit-box-flex: 1;
  text-align: center;
}
.wrap header .center p {
  line-height: 4.2rem;
  color: #FFF;
  letter-spacing: 0.1rem;
}
.wrap header .right {
  width: 6rem;
  height: 100%;
  background: none;
}
.wrap section {
  -webkit-box-flex: 1;
  overflow: auto;
}
.wrap section::-webkit-scrollbar {
  width: 0;
}
.wrap section .phone {
  width: 100%;
  height: 9rem;
  background: none;
  margin-top: 1.7rem;
}
.wrap section .phone .phone_number {
  width: 95%;
  height: 4.5rem;
  background: none;
  margin-left: 2.5%;
  position: relative;
  border: 0.1rem solid #9a9a9a;
}
.wrap section .phone .phone_number img {
  width: 1.5rem;
  height: 2rem;
  background: none;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
}
.wrap section .phone .phone_number p {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  color: #cbcbcb;
}
.wrap section .phone .phone_number input {
  width: 100%;
  height: 4.5rem;
  background: none;
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding-left: 4rem;
  border: none;
}
.wrap section .phone .phone_number span {
  width: 8rem;
  height: 100%;
  background: none;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  color: red;
}
.wrap section .phone .phone_pwd {
  width: 95%;
  height: 4.5rem;
  background: none;
  margin-left: 2.5%;
  position: relative;
  border: 0.1rem solid #9a9a9a;
  border-top: none ;
}
.wrap section .phone .phone_pwd img {
  width: 1.5rem;
  height: 2rem;
  background: none;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
}
.wrap section .phone .phone_pwd p {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  color: #cbcbcb;
}
.wrap section .phone .phone_pwd input {
  width: 100%;
  height: 4.5rem;
  background: none;
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding-left: 4rem;
  border: none;
}
.wrap section .phone .phone_pwd span {
  width: 8rem;
  height: 100%;
  background: none;
  position: absolute;
  top: 0.7rem;
  right: 0rem;
  color: red;
}
.wrap section .pwd {
  width: 100%;
  height: 9rem;
  background: none;
  margin-top: 1.7rem;
}
.wrap section .pwd .phone_pwd1 {
  width: 95%;
  height: 4.5rem;
  background: none;
  margin-left: 2.5%;
  position: relative;
  border: 0.1rem solid #9a9a9a;
}
.wrap section .pwd .phone_pwd1 img {
  width: 1.5rem;
  height: 2rem;
  background: none;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
}
.wrap section .pwd .phone_pwd1 p {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  color: #cbcbcb;
}
.wrap section .pwd .phone_pwd1 input {
  width: 100%;
  height: 4.5rem;
  background: none;
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding-left: 4rem;
  border: none;
}
.wrap section .pwd .phone_pwd2 {
  width: 95%;
  height: 4.5rem;
  background: none;
  margin-left: 2.5%;
  position: relative;
  border: 0.1rem solid #9a9a9a;
  border-top: none ;
}
.wrap section .pwd .phone_pwd2 img {
  width: 1.5rem;
  height: 2rem;
  background: none;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
}
.wrap section .pwd .phone_pwd2 p {
  position: absolute;
  top: 1.5rem;
  left: 3rem;
  color: #cbcbcb;
}
.wrap section .pwd .phone_pwd2 input {
  width: 100%;
  height: 4.5rem;
  background: none;
  position: absolute;
  top: 0rem;
  left: 0rem;
  padding-left: 4rem;
  border: none;
}
.wrap section .pwd .phone_pwd2 a {
  position: absolute;
  top: 0.6rem;
  right: 0rem;
  padding: 0.8rem 2rem;
  background: #46c68b;
  border-radius: 1.5rem ;
  color: #FFF;
  letter-spacing: 0.1rem;
}
.wrap section .nav_list {
  width: 95%;
  height: 14rem;
  background: none;
  margin-left: 2.5%;
}
.wrap section .nav_list .list_one {
  width: 100%;
  height: 4rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  line-height: 4rem;
  font-size: 1.4rem;
  position: relative;
}
.wrap section .nav_list .list_one input {
  color: #46c68b;
  width: 1.2rem;
  height: 1.5rem;
  background: none;
  position: absolute;
  top: 1.3rem;
  left: 0;
}
.wrap section .nav_list .list_one p {
  margin-left: 1.5rem;
}
.wrap section .nav_list .list_one span {
  color: #46c68b;
}
.wrap section .nav_list .list_two {
  width: 100%;
  height: 4.5rem;
  background: #46c68b;
  margin-top: 1rem;
  border-radius: 0.5rem ;
  text-align: center;
  line-height: 4.5rem;
}
.wrap section .nav_list .list_two a {
  color: #FFF;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}
.wrap section .nav_list .list_three {
  width: 100%;
  height: 4.5rem;
  background: none;
  text-align: center;
  line-height: 4.5rem;
}
.wrap section .nav_list .list_three p {
  font-size: 1.5rem;
}
.wrap section .nav_list .list_three p a {
  color: #46c68b;
}
.wrap footer {
  width: 100%;
  height: 0rem;
  background: none;
}
