@import url(m_reset.css);
html {
  font-size: 62.5%;
}
html,
body,
.wrap {
  width: 100%;
  height: 100%;
}
.wrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.wrap header {
  width: 100%;
  height: 4.5rem;
  background: #333333;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrap header span {
  color: #FFF;
  line-height: 4.5rem;
  margin-left: 2.3rem;
}
.wrap header p {
  line-height: 4.5rem;
  color: #FFF;
  margin-left: 1rem;
}
.wrap section {
  -webkit-box-flex: 1;
  overflow: auto;
}
.wrap section::-webkit-scrollbar {
  width: 0;
}
.wrap section .nav {
  width: 100%;
  height: 15rem;
  background: #46c68b;
}
.wrap section .nav .nav_sp {
  width: 11rem;
  height: 5rem;
  background: none;
  position: relative;
  top: 5rem;
  left: 19%;
}
.wrap section .nav .nav_fk {
  width: 5.5rem;
  height: 5.5rem;
  background: none;
  position: relative;
  top: 4.5rem;
  left: 22%;
}
.wrap section .get {
  width: 90%;
  height: 4rem;
  background: none;
  border: 0.1rem #959595 solid;
  margin-top: 1.5rem;
  margin-left: 5%;
  position: relative;
}
.wrap section .get input {
  width: 100%;
  height: 4rem;
  background: none;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  padding-left: 4.5rem;
}
.wrap section .get img {
  width: 1.5rem;
  height: 2rem;
  background: none;
  position: absolute;
  left: 1rem;
  top: 1rem;
}
.wrap section .get span {
  position: absolute;
  left: 3.3rem;
  top: 1rem ;
  color: #959595;
  -webkit-box-align: center;
}
.wrap section .next {
  width: 90%;
  height: 4rem;
  background: none;
  border: 0.1rem #959595 solid;
  margin-top: 1rem;
  margin-left: 5%;
  position: relative;
}
.wrap section .next input {
  width: 100%;
  height: 4rem;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  border: none;
  padding-left: 4.5rem;
}
.wrap section .next img {
  width: 1.5rem;
  height: 2rem;
  background: none;
  position: absolute;
  left: 1rem;
  top: 0.8rem;
}
.wrap section .next span {
  position: absolute;
  left: 3.5rem;
  top: 1rem;
  color: #959595;
  -webkit-box-align: center;
}
.wrap section .logo {
  width: 90%;
  height: 4.5rem;
  background: #46c68b;
  margin-left: 5%;
  border-radius: 0.5rem ;
  text-align: center;
  line-height: 4.5rem;
  margin-top: 2rem;
}
.wrap section .logo a {
  color: #FFF;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.wrap section .main {
  width: 90%;
  height: 5rem;
  background: none;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
}
.wrap section .main .left {
  margin-left: 5%;
  width: 70%;
  height: 5rem;
  background: none;
  line-height: 3rem;
}
.wrap section .main .left a {
  color: #676767;
}
.wrap section .main .right {
  margin-left: 4%;
  width: 30%;
  height: 5rem;
  background: none;
  line-height: 3rem;
}
.wrap section .main .right a {
  margin-left: 20%;
  color: #676767;
}
.wrap footer {
  width: 100%;
  height: 0rem;
  background: #ffffff;
}
