<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/courier.css"/>
		<meta http-equiv="X-UA-Compatible"content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="wrap">
		<header>
			<p class="express_a"><span>&lt;</span>返回</p><p class="express">派速魔方 - 快递员</p>
		</header>
		<section>
			<div class="imgs"><img src="../images/courier_02.jpg"/></div>
			<div class="main">
				<dl>
					<dt><img src="../images/courier_05.jpg"/></dt>
					<dd>扫码存件</dd>
				</dl>
				<dl>
					<dt><img src="../images/courier_05.jpg"/></dt>
						<dd>扫码存件</dd>
				</dl>
			</div>
			<div class="main">
				<dl>
					<dt><img src="../images/courier_05.jpg"/></dt>
					<dd>扫码存件</dd>
				</dl>
				<dl>
					<dt><img src="../images/courier_05.jpg"/></dt>
					<dd>扫码存件</dd>
				</dl>
			</div>
		</section>
		
		<footer>
			<dl>
				<dt><img src="../images/courier_17.jpg"/></dt>
				<dd>首页</dd>
			</dl>
			<dl>
				<dt><img src="../images/courier_19.jpg"/></dt>
				<dd>快速记录</dd>
			</dl>
			<dl>
				<dt><img src="../images/courier_21.jpg"/></dt>
				<dd>首页</dd>
			</dl>
		</footer>
		</div>
	</body>
</html>
